<h2>Add your comment!</h2>

<p>The post you're commenting on: "<%= @comment.post.title %>"</p>

<%= form_for([@comment.post, @comment]) do |f| %>
  <%= f.text_field :body %>
  <button type="submit">Save!</button>

<% end %>  